nbaLogicApp/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string"
    },
    "azureBlobApiConnectorName": {
      "type": "string"
    },
    "azureGmailConnectorName": {
      "type": "string"
    },
    "yearsPro": {
      "type": "string",
      "defaultValue": "0"
    },
    "nbaPlayersUri": {
      "type": "string",
      "defaultValue": "http://data.nba.net/10s/prod/v1/2018/players.json"
    },
    "LogicAppLocation": {
      "type": "string",
      "minLength": 1,
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "defaultValue": "[resourceGroup().location]"
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('LogicAppLocation')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "ForEach": {
              "type": "Foreach",
              "foreach": "@actionBody('ParseJson').league.standard",
              "actions": {
                "Condition": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@item().yearsPro",
                          "[parameters('yearsPro')]"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "ComposePlayerCard": {
                      "type": "Compose",
                      "inputs": {
                        "firstName": "@items('ForEach')['firstName']",
                        "heightMeters": "@items('ForEach')['heightMeters']",
                        "lastName": "@items('ForEach')['lastName']",
                        "plusMinus": "@actionBody('HTTPGetUserProfile').league.standard.stats.careerSummary.plusMinus"
                      },
                      "runAfter": {
                        "HTTPGetUserProfile": [
                          "Succeeded"
                        ]
                      }
                    },
                    "HTTPGetUserProfile": {
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "http://data.nba.net/10s/prod/v1/2018/players/@{items('ForEach')['personId']}_profile.json"
                      },
                      "runAfter": {}
                    },
                    "Append_to_array_variable": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "playersYearsPro",
                        "value": "@outputs('ComposePlayerCard')"
                      },
                      "runAfter": {
                        "ComposePlayerCard": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "ParseJSON": [
                  "Succeeded"
                ]
              }
            },
            "Create_blob_2": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@variables('playersYearsPro')",
                "path": "/datasets/default/files",
                "queries": {
                  "folderPath": "nba",
                  "name": "@{variables('currentRunTimeUTC')}",
                  "queryParametersSingleEncoded": true
                }
              },
              "runAfter": {
                "ForEach": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "HTTP": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "[parameters('nbaPlayersUri')]"
              },
              "runAfter": {
                "Initialize_variable_2": [
                  "Succeeded"
                ]
              }
            },
            "ParseJSON": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP')",
                "schema": {
                  "properties": {
                    "_internal": {
                      "properties": {
                        "consolidatedDomKey": {
                          "type": "string"
                        },
                        "endToEndTimeMillis": {
                          "type": "string"
                        },
                        "igorPath": {
                          "type": "string"
                        },
                        "pubDateTime": {
                          "type": "string"
                        },
                        "xslt": {
                          "type": "string"
                        },
                        "xsltCompileTimeMillis": {
                          "type": "string"
                        },
                        "xsltForceRecompile": {
                          "type": "string"
                        },
                        "xsltInCache": {
                          "type": "string"
                        },
                        "xsltTransformTimeMillis": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "league": {
                      "properties": {
                        "africa": {
                          "items": {
                            "properties": {
                              "collegeName": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "dateOfBirthUTC": {
                                "type": "string"
                              },
                              "draft": {
                                "properties": {
                                  "pickNum": {
                                    "type": "string"
                                  },
                                  "roundNum": {
                                    "type": "string"
                                  },
                                  "seasonYear": {
                                    "type": "string"
                                  },
                                  "teamId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "heightFeet": {
                                "type": "string"
                              },
                              "heightInches": {
                                "type": "string"
                              },
                              "heightMeters": {
                                "type": "string"
                              },
                              "isActive": {
                                "type": "boolean"
                              },
                              "jersey": {
                                "type": "string"
                              },
                              "lastAffiliation": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "nbaDebutYear": {
                                "type": "string"
                              },
                              "personId": {
                                "type": "string"
                              },
                              "pos": {
                                "type": "string"
                              },
                              "teamId": {
                                "type": "string"
                              },
                              "teamSitesOnly": {
                                "properties": {
                                  "displayAffiliation": {
                                    "type": "string"
                                  },
                                  "freeAgentCode": {
                                    "type": "string"
                                  },
                                  "playerCode": {
                                    "type": "string"
                                  },
                                  "posFull": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "teams": {
                                "items": {
                                  "properties": {
                                    "seasonEnd": {
                                      "type": "string"
                                    },
                                    "seasonStart": {
                                      "type": "string"
                                    },
                                    "teamId": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "teamId",
                                    "seasonStart",
                                    "seasonEnd"
                                  ],
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "temporaryDisplayName": {
                                "type": "string"
                              },
                              "weightKilograms": {
                                "type": "string"
                              },
                              "weightPounds": {
                                "type": "string"
                              },
                              "yearsPro": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "firstName",
                              "lastName",
                              "temporaryDisplayName",
                              "personId",
                              "teamId",
                              "jersey",
                              "isActive",
                              "pos",
                              "heightFeet",
                              "heightInches",
                              "heightMeters",
                              "weightPounds",
                              "weightKilograms",
                              "dateOfBirthUTC",
                              "teamSitesOnly",
                              "teams",
                              "draft",
                              "nbaDebutYear",
                              "yearsPro",
                              "collegeName",
                              "lastAffiliation",
                              "country"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "sacramento": {
                          "items": {
                            "properties": {
                              "collegeName": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "dateOfBirthUTC": {
                                "type": "string"
                              },
                              "draft": {
                                "properties": {
                                  "pickNum": {
                                    "type": "string"
                                  },
                                  "roundNum": {
                                    "type": "string"
                                  },
                                  "seasonYear": {
                                    "type": "string"
                                  },
                                  "teamId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "heightFeet": {
                                "type": "string"
                              },
                              "heightInches": {
                                "type": "string"
                              },
                              "heightMeters": {
                                "type": "string"
                              },
                              "isActive": {
                                "type": "boolean"
                              },
                              "isallStar": {
                                "type": "boolean"
                              },
                              "jersey": {
                                "type": "string"
                              },
                              "lastAffiliation": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "nbaDebutYear": {
                                "type": "string"
                              },
                              "personId": {
                                "type": "string"
                              },
                              "pos": {
                                "type": "string"
                              },
                              "teamId": {
                                "type": "string"
                              },
                              "teamSitesOnly": {
                                "properties": {
                                  "displayAffiliation": {
                                    "type": "string"
                                  },
                                  "freeAgentCode": {
                                    "type": "string"
                                  },
                                  "playerCode": {
                                    "type": "string"
                                  },
                                  "posFull": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "teams": {
                                "items": {
                                  "properties": {
                                    "seasonEnd": {
                                      "type": "string"
                                    },
                                    "seasonStart": {
                                      "type": "string"
                                    },
                                    "teamId": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "teamId",
                                    "seasonStart",
                                    "seasonEnd"
                                  ],
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "temporaryDisplayName": {
                                "type": "string"
                              },
                              "weightKilograms": {
                                "type": "string"
                              },
                              "weightPounds": {
                                "type": "string"
                              },
                              "yearsPro": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "firstName",
                              "lastName",
                              "personId",
                              "teamId",
                              "jersey",
                              "isActive",
                              "pos",
                              "heightFeet",
                              "heightInches",
                              "heightMeters",
                              "weightPounds",
                              "weightKilograms",
                              "dateOfBirthUTC",
                              "teams",
                              "draft",
                              "nbaDebutYear",
                              "yearsPro",
                              "collegeName",
                              "lastAffiliation",
                              "country"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "standard": {
                          "items": {
                            "properties": {
                              "collegeName": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "dateOfBirthUTC": {
                                "type": "string"
                              },
                              "draft": {
                                "properties": {
                                  "pickNum": {
                                    "type": "string"
                                  },
                                  "roundNum": {
                                    "type": "string"
                                  },
                                  "seasonYear": {
                                    "type": "string"
                                  },
                                  "teamId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "heightFeet": {
                                "type": "string"
                              },
                              "heightInches": {
                                "type": "string"
                              },
                              "heightMeters": {
                                "type": "string"
                              },
                              "isActive": {
                                "type": "boolean"
                              },
                              "isallStar": {
                                "type": "boolean"
                              },
                              "jersey": {
                                "type": "string"
                              },
                              "lastAffiliation": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "nbaDebutYear": {
                                "type": "string"
                              },
                              "personId": {
                                "type": "string"
                              },
                              "pos": {
                                "type": "string"
                              },
                              "teamId": {
                                "type": "string"
                              },
                              "teamSitesOnly": {
                                "properties": {
                                  "displayAffiliation": {
                                    "type": "string"
                                  },
                                  "freeAgentCode": {
                                    "type": "string"
                                  },
                                  "playerCode": {
                                    "type": "string"
                                  },
                                  "posFull": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "teams": {
                                "items": {
                                  "properties": {
                                    "seasonEnd": {
                                      "type": "string"
                                    },
                                    "seasonStart": {
                                      "type": "string"
                                    },
                                    "teamId": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "teamId",
                                    "seasonStart",
                                    "seasonEnd"
                                  ],
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "temporaryDisplayName": {
                                "type": "string"
                              },
                              "weightKilograms": {
                                "type": "string"
                              },
                              "weightPounds": {
                                "type": "string"
                              },
                              "yearsPro": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "firstName",
                              "lastName",
                              "personId",
                              "teamId",
                              "jersey",
                              "isActive",
                              "pos",
                              "heightFeet",
                              "heightInches",
                              "heightMeters",
                              "weightPounds",
                              "weightKilograms",
                              "dateOfBirthUTC",
                              "teams",
                              "draft",
                              "nbaDebutYear",
                              "yearsPro",
                              "collegeName",
                              "lastAffiliation",
                              "country"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "utah": {
                          "items": {
                            "properties": {
                              "collegeName": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "dateOfBirthUTC": {
                                "type": "string"
                              },
                              "draft": {
                                "properties": {
                                  "pickNum": {
                                    "type": "string"
                                  },
                                  "roundNum": {
                                    "type": "string"
                                  },
                                  "seasonYear": {
                                    "type": "string"
                                  },
                                  "teamId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "heightFeet": {
                                "type": "string"
                              },
                              "heightInches": {
                                "type": "string"
                              },
                              "heightMeters": {
                                "type": "string"
                              },
                              "isActive": {
                                "type": "boolean"
                              },
                              "isallStar": {
                                "type": "boolean"
                              },
                              "jersey": {
                                "type": "string"
                              },
                              "lastAffiliation": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "nbaDebutYear": {
                                "type": "string"
                              },
                              "personId": {
                                "type": "string"
                              },
                              "pos": {
                                "type": "string"
                              },
                              "teamId": {
                                "type": "string"
                              },
                              "teamSitesOnly": {
                                "properties": {
                                  "displayAffiliation": {
                                    "type": "string"
                                  },
                                  "freeAgentCode": {
                                    "type": "string"
                                  },
                                  "playerCode": {
                                    "type": "string"
                                  },
                                  "posFull": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "teams": {
                                "type": "array"
                              },
                              "temporaryDisplayName": {
                                "type": "string"
                              },
                              "weightKilograms": {
                                "type": "string"
                              },
                              "weightPounds": {
                                "type": "string"
                              },
                              "yearsPro": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "firstName",
                              "lastName",
                              "personId",
                              "teamId",
                              "jersey",
                              "isActive",
                              "pos",
                              "heightFeet",
                              "heightInches",
                              "heightMeters",
                              "weightPounds",
                              "weightKilograms",
                              "dateOfBirthUTC",
                              "teams",
                              "draft",
                              "nbaDebutYear",
                              "yearsPro",
                              "collegeName",
                              "lastAffiliation",
                              "country"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "vegas": {
                          "items": {
                            "properties": {
                              "collegeName": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "dateOfBirthUTC": {
                                "type": "string"
                              },
                              "draft": {
                                "properties": {
                                  "pickNum": {
                                    "type": "string"
                                  },
                                  "roundNum": {
                                    "type": "string"
                                  },
                                  "seasonYear": {
                                    "type": "string"
                                  },
                                  "teamId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "heightFeet": {
                                "type": "string"
                              },
                              "heightInches": {
                                "type": "string"
                              },
                              "heightMeters": {
                                "type": "string"
                              },
                              "isActive": {
                                "type": "boolean"
                              },
                              "isallStar": {
                                "type": "boolean"
                              },
                              "jersey": {
                                "type": "string"
                              },
                              "lastAffiliation": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "nbaDebutYear": {
                                "type": "string"
                              },
                              "personId": {
                                "type": "string"
                              },
                              "pos": {
                                "type": "string"
                              },
                              "teamId": {
                                "type": "string"
                              },
                              "teamSitesOnly": {
                                "properties": {
                                  "displayAffiliation": {
                                    "type": "string"
                                  },
                                  "freeAgentCode": {
                                    "type": "string"
                                  },
                                  "playerCode": {
                                    "type": "string"
                                  },
                                  "posFull": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "teams": {
                                "items": {
                                  "properties": {
                                    "seasonEnd": {
                                      "type": "string"
                                    },
                                    "seasonStart": {
                                      "type": "string"
                                    },
                                    "teamId": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "teamId",
                                    "seasonStart",
                                    "seasonEnd"
                                  ],
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "temporaryDisplayName": {
                                "type": "string"
                              },
                              "weightKilograms": {
                                "type": "string"
                              },
                              "weightPounds": {
                                "type": "string"
                              },
                              "yearsPro": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "firstName",
                              "lastName",
                              "personId",
                              "teamId",
                              "jersey",
                              "isActive",
                              "pos",
                              "heightFeet",
                              "heightInches",
                              "heightMeters",
                              "weightPounds",
                              "weightKilograms",
                              "dateOfBirthUTC",
                              "teams",
                              "draft",
                              "nbaDebutYear",
                              "yearsPro",
                              "collegeName",
                              "lastAffiliation",
                              "country"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "Initialize_variable": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_variable": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "playersYearsPro",
                    "type": "Array"
                  }
                ]
              },
              "runAfter": {
                "HTTP": [
                  "Succeeded"
                ]
              }
            },
            "Create_SAS_URI_by_path": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "Permissions": "Read"
                },
                "path": "/datasets/default/CreateSharedLinkByPath",
                "queries": {
                  "path": "/nba/@{variables('currentRunTimeUTC')}"
                }
              },
              "runAfter": {
                "Create_blob_2": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_variable_2": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "currentRunTimeUTC",
                    "type": "String",
                    "value": "@{utcNow()}"
                  }
                ]
              },
              "runAfter": {}
            },
            "Send_email": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['gmail']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "To": "makaronss@gmail.com",
                  "Subject": "NBA noobs @{variables('currentRunTimeUTC')}",
                  "Body": "@body('Create_SAS_URI_by_path')?['WebUrl']"
                },
                "path": "/Mail"
              },
              "runAfter": {
                "Create_SAS_URI_by_path": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Week",
                "interval": 1
              }
            }
          },
          "contentVersion": "1.0.0.0"
        },
        "parameters": {
          "$connections": {
            "value": {
              "azureblob": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('LogicAppLocation'), '/managedApis/', parameters('azureBlobApiConnectorName'))]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azureBlobApiConnectorName'))]",
                "connectionName": "azureblob"
              },
              "gmail": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('LogicAppLocation'), '/managedApis/', parameters('azureGmailConnectorName'))]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azureGmailConnectorName'))]",
                "connectionName": "gmail"
              }
            }
          }
        }
      },
      "tags": {
        "displayName": "LogicApp"
      }
    }
  ]
}